language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

before_install:
  - composer self-update
  - if [[ $TRAVIS_PHP_VERSION != 'hhvm' ]]; then COVERAGE_FLAGS="--coverage --coverage-xml"; fi # PHPUnit code coverage doesn't currently work under HHVM

install:
  - composer update --dev

script: vendor/bin/codecept run $COVERAGE_FLAGS

after_success:
  - travis_retry php vendor/bin/coveralls
